h2 {
    color: #FF5805
}

.jumbotron{
    background-image: url(background-final.jpg);
    min-height: 80px;
}

body {
    font-family: 'Raleway', sans-serif;
}

th [colspan="8"] {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 19px;
}