h2 {
    color: #236175
}

.jumbotron{
    background-image: url(background-final.jpg);
    min-height: 80px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E9EEF0;
}


th [colspan="8"] {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 19px;
}

dd {
    font-size: 17px;
}

.mt-obr.mb-obr  {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-txt.mb-txt {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mt-txt.mb-txt.pr-obr {
    padding-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pr-obr {
    padding-right: 40px;
}

.mb-obr {
    padding-bottom: 100px;
}

.mt-obr {
    margin-top: 15px;
}

.card-body.text2 {
    margin-bottom: 68px;
}

