h2 {
    color: #083C40
}

.jumbotron{
    background-image: url(background-final.jpg);
    min-height: 80px;
}

body {
    font-family: 'Raleway', sans-serif;
}

th [colspan="8"] {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 19px;
}

dd {
    font-size: 17px;
}

.mt-obr {
    margin-top: 4;
}

.mb-obr {
    margin-bottom: 4;
}

.mt-txt {
    margin-top: 5;
}

.mb-txt {
    mrgin-bottom: 5;
}